* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #160647;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}
a{
	color: #160647;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;  
	margin: 0 auto;  
	max-width:1440px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
#home {
	height: 100vh;
	display: flex;
}
header {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
header div.left {
	width: 64%;
	display: flex;
	justify-content: space-between;
}
header div.right ul{
	display: flex;
	justify-content: space-between;
}
header div.left ul li:hover {
	border-bottom: 1px solid #000;
}
header div.left ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Circular-Std-Bold';
}
header div.left ul li {
	margin-right: 30px;
}
div.left h1 a img {
	width: 80%;
}
div.right {
	display: flex;
	align-items: center
}
div.right ul li a.button {
	background: #000;
	padding: 10px 13px;
	border-radius: 8px;
	color: #fff;
}
div.right ul li:first-child {
	margin-right: 15px;	
}
#spotlight {
	background: url(../images/strip.png) no-repeat;
	background-size: 400px ;
	background-position: 939px 247px  !important;
}
#spotlight h1 {
	font-size: 80px;
	font-weight: 600;
	text-align: center;
	padding: 77px 0 0 0;
	line-height: 1em;
}
#spotlight .top {
	text-align: center;
	padding: 26px 0px 44px 0;
}
#spotlight ul {
	display: flex;
}
#spotlight .wrapper ul li img {
	width: 100%;
	box-shadow: 18px 9px 57px -2px grey;
}
#spotlight .wrapper ul li img.left {
	width: 75%;
}
#spotlight .wrapper ul li h3 {
	font-weight: 700;
	font-size: 28px;
	margin: 28px 0;
}
p {
	font-family: 'Circular-Std-Bold';
}





